body {
    font-size: 1.5rem !important;
}

main.row:not(.admin) {
    padding-top: 120px;
}

input:focus {
    outline: none;
}

input[type="radio"],
input[type="checkbox"] {
    margin:0;
    padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-image:url('../images/grey-radio-button.png');
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 6px;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
    background-image:url('../images/orange-radio-button.png');
}

input[type="radio"] + label,
input[type="checkbox"] + label {
    margin-left: 32px;
}

.home-image .logo {
    max-width: 500px;
    width: 100%;
}

.home-image .headline {
    max-width: 650px;
    width: 100%;
}

.home-button {
    background: url('../images/home-button.png');
    background-repeat: no-repeat;
    background-size: 350px 85px;
    display: block;
    width: 350px;
    height: 85px;
    margin: 0 auto;
    border: none;
    margin-top: 3rem;
}

.next-button {
    background: url('../images/next-button.png');
    background-repeat: no-repeat;
    background-size: 350px 85px;
    display: block;
    width: 350px;
    height: 85px;
    margin: 0 auto;
    border: none;
    margin-top: 3rem;
}

.start-button {
    background: url('../images/start-button.png');
    background-repeat: no-repeat;
    background-size: 350px 85px;
    display: block;
    width: 350px;
    height: 85px;
    margin: 0 auto;
    border: none;
    margin-top: 3rem;
}

button:focus {
    outline: none !important;
}

input[class="form-control "],
.form-control {
    border-radius: 0 !important;
    border-color: #f26025 !important;
}

.instruction {
    font-style: italic;
}

.others-container {
    display: none;
    padding: 0px 35px;
}

.thank-you-container {
    width: 50%;
    margin: 0 auto;
    margin-top: -50px;
}

#spinner-arrow {
    position: absolute;
    top: 250px;
    left: calc(50% - 32.6px);
    z-index: 999;
    width: 65px;
    height: auto;
}

#spinner-button {
    background: url('../images/press-to-spin-button.png');
    background-repeat: no-repeat;
    background-size: 350px 85px;
    display: block;
    width: 350px;
    height: 85px;
    margin: 0 auto;
    border: none;
}

#spinner-container .next-button {
    display: none;
}

@media screen and (max-width: 1200px) {
    #spinner-arrow {
        top: 250px;
    }
}

@media screen and (max-width: 992px) {
    #spinner-arrow {
        top: 300px;
    }
}